body {
    background-color: #4672b2;
    color: white;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 25px 0px 5px 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0px 20px 0px;
}

.timeline-container {
    width: 70%;
    /*background-color: white;*/
}

ul {
    margin: 0px 0px 0px 150px;
    padding: 0px 0px 0px 35px;
    border-left: 8px solid white;
}

li {
    list-style-type: none;
    margin: 50px 0px 50px 0px;
    /*border: solid 1px black;*/
}

.circle {
    position: absolute;
    margin: 0px 0px 0px -51px;
    /*background-color: white;*/
    border: solid 5px white;
    background: #4672b2;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.date {
    width: 125px;
    text-align: right;
    font-style: italic;
    position: absolute;
    margin: 0px 0px 0px -190px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.content {
    
}

/*.content .active {
    opacity: 0.5;
}

.active {
    display: block;
}*/

.content-text {
    margin: 5px 0px 0px 0px;
}

/* --------- Add Event ---------- */
.add-btn {
    width: 50%;
    height: 30px;
    text-align: center;
    background-color: white;
    color: #4672b2;
    cursor: pointer;
}

.add-btn .add-btn-text {
    margin: 10px 0px 0px 0px;
}

.add-container {
    display: none;
}